/* --- Page Styling --- */
* {
    box-sizing: border-box; /* include padding and things as whole width & height of elements */
}
html, body {
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding:0;
}

/* headers */
h1 {
    font-size: 350%;
    text-align: center;
    color: orange;
}
h2 {
    font-size: 250%;
    text-align: center;
    padding-top: 3vh;
}
h3 {
    font-size: 170%;
    text-align: center;
}
h4 {
    font-size: 130%;
    color: orange;
    margin-bottom: 0;
}

/* paragraphs */
p {
    font-size: 20px;
}
b {
    text-shadow: 2px 2px black;
}
.filler {
    text-align: center;
    color: red;
}
.info {
    text-align: center;
}

/* links & lists */
ul {
    list-style-type: none;
    font-size: 20px;
    color: orange;
}
ol {
    list-style-type: none;
    font-size: 20px;
    color: orange;
}
li {
    padding-top: 1.5vh;
}
a {
    color: orange;
}
.links {
    text-align: center;
}
/* TODO: condense the 3 ids below */
#reqs {
    list-style-type: disc;
    color: white;
    font-size: 18px;
}
#rpc {
    list-style: decimal;
    color: white;
    font-size: 18px;
}
#rpc2 {
    list-style: disc;
    color: white;
    font-size: 18px;
}
.poem {
    text-align: center;
    margin-top: 5vh;
    border: dashed orange;
    padding: 3%;
}

/* Alerts */
/* message box */
.alert {
    padding: 20px;
    background-color: #2196F3;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 100000;
    text-align: center;
}

/* close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.closebtn:hover {
    color: orange;
}

/* Navigation */
.nav {
    text-align: center;
    font-size: 200%;
}

/* Calendar */
.calendar {
    margin-left: 3vw;
    margin-right: 3vw;
    border-width: 0;
    width: 90%;
    height: 70vh;
}

/* buttons */
.button {
    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 17vw;
    margin-right: 17vw;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #0066cc;
    color: white;
    border: 2px solid orange;
}
.button:hover {
    background-color: orange;
    color: white;
}

/* Images & GIFs */
img {
    width: 100%;
    height: auto;
    padding: 5%;
}
/* TODO: fix placement on mobile */
.gif {
    width: 70%;
    height: 0;
    padding-bottom: 56%;
    position: relative;
    margin-left: 7vw;
    margin-right: 7vw;
    margin-top: -2vh;
}

/* collapsible */
.collapsible {
    background-color: #0066cc;
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid orange;
    width: 100%;
}
.active, .collapsible:hover {
    background-color: orange;
}
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #0066cc;
    color: black;
    font-size: 16px;
}

/* colors */
.blue {
    background-color: #0066cc;
    color: white;
    padding-top: 5vh;
    padding-bottom: 5vh;
}
.orangebox {
    border: outset orange;
    background-color: #2196F3;
}

/* --- Responsive Design --- */
/* row clearing */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* 12 collumns */
[class*="col-"] {
  float: left;
  padding: 15px;
  /*border: 1px solid red; /* debug line -- allows sections to be visible*/
}

/* mobile */
[class*="col-"] {
  width: 100%;
}

/* desktop */
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

/* TODO */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
